body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body.pushable {
  background-color: white !important;
}

.bgb {
  background-color: rgb(42, 27, 112);
}

#main-menu {
  border-radius: 0;
}

#main-menu .item {
  font-weight: bold;
}

img.fade {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}

img.show {
  opacity: 1;
}

.marquee {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.m1 {
  animation: marquee2 15s linear infinite;
  transform: translate3d(0, 0, 0);
  padding-left: 20px;
}

.m1:hover {
  animation-play-state: paused;
}

.m1 img {
  border-radius: 500rem;
  margin-right: 20px;
}

@keyframes marquee2 {
  100% { transform: translateX(-49.6%); }
}

.bgg {
  background-color: #F2F3F5;
}

.ui.vertical.menu .item>.header:not(.ui) {
  margin: 0;
}

hr {
  border-top: 1px solid rgba(34,36,38,.15);
  border-left: 0px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  width: 100%;
}

.tdlt { text-decoration: line-through; }

.player {
  width: 130px;
  height: 130px;
  border-radius: 500rem;
}

.player:after {
  background-color:red;
}